<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Login User</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Username </label>
                                        <input type="text" class="form-control"  placeholder="Username" value="User12312">
                                    </div>
                                </div>
 
                  
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="text" class="form-control" placeholder="Username" value="passwordl23">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right">Login User</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <pre *ngIf="code"> {{(result$|async)|json}} </pre>
                    
                </div>
            </div>

        </div>
    </div>
</div>
