<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Existing Containers</h4>
                        <p class="category">Here is a subtitle for this table</p>
                        
                    </div>



                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                              <thead>
                                  <tr>
                                      <th *ngFor="let cell of tableData3.headerRow">{{ cell }}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let row of responsefromHistory.results">
                                      <td>{{row.ip}}</td>
                                      <td>{{row.name}}</td>
                                      <td>{{row.path}}</td>
                                      <td>{{row.ready}}</td>
                                      <td>{{row.total}}</td>
                                  </tr>
                              </tbody>
                        </table>

                  </div>

                    



                    
                </div>




            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Existing Users RBAC</h4>
                        <p class="category">This table lists users and thier access roles</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData2.dataRows">
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    


                </div>
            </div>



        </div>
    </div>
</div>
